@model CIneDotNet.Models.Usuario;
@{
    ViewData["Title"] = "MisDatosAdmin";
}

<h1 class="m-5">MisDatosAdmin</h1>

<div class="row mb-5"> 
    <div class="col-3">
        <a asp-action="index" asp-controller="usuarios"><button>Usuarios</button></a>
    </div>
    <div class ="col-3">
        <a asp-action="index" asp-controller="peliculas"><button>Peliculas</button></a>
    </div>
    <div class="col-3">
        <a asp-action="index" asp-controller="salas"><button>Salas</button></a>
    </div>
    <div class="col-3">
        <a asp-action="index" asp-controller="funcions"><button>Funciones</button></a>
    </div>

</div>
<div class="row mt-5">
    <div class="col-6">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Sala
                        </th>
                        <th>
                            Pelicula
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Clientes
                        </th>
                        <th>
                            Costo
                        </th>

                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MisFunciones.Where(f => f.fecha >= DateTime.Now))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.miSala.ubicacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.miPelicula.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantClientes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.costo)
                            </td>
                            <td>
                                <form asp-action="DevolverEntrada" asp-controller="usuarios" method="post">
                                    <input type="hidden" name="idFuncion" value="@item.ID">
                                    <input type="number" name="cantEntradas">
                                    <button type="submit">Devolver entradas</button>
                                </form>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </div>
    <div class="col-6">
        <h2>Nombre: @Html.DisplayFor(u => u.Nombre)</h2>
        <h2>Apellido: @Html.DisplayFor(u => u.Apellido)</h2>
        <h2>DNI: @Html.DisplayFor(u => u.DNI)</h2>
        <h2>Credito: @Html.DisplayFor(u => u.Credito)</h2>

    </div>
</div>

